/* Collapsible div: https://www.digitalocean.com/community/tutorials/css-collapsible */
input[type="checkbox"] {
  display: none;
}

/* First row */
.lbl-toggle-first {
  display: block;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-first:hover {
  text-decoration: underline;
}

.collapsible-content-first {
  max-height: 0px;
  overflow: hidden;
  transition: max-height overflow 0.25s ease-in-out;
}

.toggle-first:checked + .lbl-toggle-first + .collapsible-content-first {
  max-height: 100vh;
  overflow: visible;
}

/* Second row */
.lbl-toggle-second {
  display: block;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-second:hover {
  text-decoration: underline;
}

.collapsible-content-second {
  max-height: 0px;
  overflow: hidden;
  transition: max-height overflow 0.25s ease-in-out;
}

.toggle-second:checked + .lbl-toggle-second + .collapsible-content-second {
  max-height: 100vh;
  overflow: visible;
}

/* Third row */
.lbl-toggle-third {
  display: block;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-third:hover {
  text-decoration: underline;
}

.collapsible-content-third {
  max-height: 0px;
  overflow: hidden;
  transition: max-height overflow 0.25s ease-in-out;
}

.toggle-third:checked + .lbl-toggle-third + .collapsible-content-third {
  max-height: 100vh;
  overflow: visible;
}

/* Forth row */
.lbl-toggle-forth {
  display: block;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-forth:hover {
  text-decoration: underline;
}

.collapsible-content-forth {
  max-height: 0px;
  overflow: hidden;
  transition: max-height overflow 0.25s ease-in-out;
}

.toggle-forth:checked + .lbl-toggle-forth + .collapsible-content-forth {
  max-height: 100vh;
  overflow: visible;
}

/* Fifth row */
.lbl-toggle-fifth {
  display: block;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle-fifth:hover {
  text-decoration: underline;
}

.collapsible-content-fifth {
  max-height: 0px;
  overflow: hidden;
  transition: max-height overflow 0.25s ease-in-out;
}

.toggle-fifth:checked + .lbl-toggle-fifth + .collapsible-content-fifth {
  max-height: 100vh;
  overflow: visible;
}

/* Tooltip: http://www.menucool.com/tooltip/css-tooltip */
.skill-tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.skill-tooltip .right {
  min-width: 200px;
  top: 45px;
  left: 0;
  padding: 6px;
  transform: translate(0, -50%);
  color: #eeeeee;
  background-color: #444444;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.skill-tooltip:hover .right {
  visibility: visible;
  opacity: 1;
}
